/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-12.0.2-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: pos_sii_es
-- ------------------------------------------------------
-- Server version	12.0.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Dumping data for table `categoria`
--

LOCK TABLES `categoria` WRITE;
/*!40000 ALTER TABLE `categoria` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `categoria` VALUES
(1,'Bebidas','Refrescos y jugos'),
(2,'Snacks','Galletas, papas fritas, etc'),
(3,'Tecnolog├¡a','Computadoras, televisores y gadgets'),
(4,'Electrodom├®sticos','Frigor├¡ficos, lavadoras, microondas'),
(5,'Deportes','Bicicletas, equipos deportivos, accesorios'),
(6,'Veh├¡culos','Motocicletas y autos');
/*!40000 ALTER TABLE `categoria` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Dumping data for table `detalle_venta`
--

LOCK TABLES `detalle_venta` WRITE;
/*!40000 ALTER TABLE `detalle_venta` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `detalle_venta` VALUES
(1,1,1,2,1500.00,3000.00),
(2,1,3,1,700.00,700.00),
(12,5,1,3,1500.00,4500.00),
(13,5,2,2,1200.00,2400.00),
(14,5,3,2,1000.00,2000.00),
(15,6,1,3,1500.00,4500.00),
(16,6,2,2,1200.00,2400.00),
(17,6,3,2,1000.00,2000.00),
(18,7,1,3,1500.00,4500.00),
(19,7,2,2,1200.00,2400.00),
(20,7,3,2,1000.00,2000.00),
(21,8,1,3,1500.00,4500.00),
(22,8,2,2,1200.00,2400.00),
(23,8,3,2,1000.00,2000.00);
/*!40000 ALTER TABLE `detalle_venta` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Dumping data for table `empresa`
--

LOCK TABLES `empresa` WRITE;
/*!40000 ALTER TABLE `empresa` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `empresa` VALUES
(1,'Supermercado Prueba','76.123.456-7','Av. Principal 123','987654321','contacto@superprueba.cl','COD12345','CLAVE67890');
/*!40000 ALTER TABLE `empresa` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Dumping data for table `forma_pago`
--

LOCK TABLES `forma_pago` WRITE;
/*!40000 ALTER TABLE `forma_pago` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `forma_pago` VALUES
(1,'efectivo','Pago en billetes o monedas'),
(2,'tarjeta','Pago con tarjeta d├®bito/cr├®dito'),
(3,'transferencia','Transferencia bancaria');
/*!40000 ALTER TABLE `forma_pago` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Dumping data for table `historial_productos`
--

LOCK TABLES `historial_productos` WRITE;
/*!40000 ALTER TABLE `historial_productos` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `historial_productos` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Dumping data for table `producto`
--

LOCK TABLES `producto` WRITE;
/*!40000 ALTER TABLE `producto` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `producto` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `usuario` VALUES
(1,'Juan P├®rez','juan@superprueba.cl','1234','admin',1),
(2,'armin','armin','1234','admin',NULL);
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Dumping data for table `venta`
--

LOCK TABLES `venta` WRITE;
/*!40000 ALTER TABLE `venta` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `venta` VALUES
(1,'2025-09-17 23:22:40',3700.00,1,1),
(5,'2025-10-01 05:45:15',8900.00,1,1),
(6,'2025-10-01 05:49:27',8900.00,1,1),
(7,'2025-10-01 05:49:29',8900.00,1,1),
(8,'2025-10-01 05:54:29',8900.00,1,1);
/*!40000 ALTER TABLE `venta` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Dumping data for table `venta_pago`
--

LOCK TABLES `venta_pago` WRITE;
/*!40000 ALTER TABLE `venta_pago` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `venta_pago` VALUES
(1,1,3700.00);
/*!40000 ALTER TABLE `venta_pago` ENABLE KEYS */;
UNLOCK TABLES;
commit;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2025-12-12 21:05:54
